<!DOCTYPE>
<html>
<head>
    <title>ORDER VIEW</title>
</head>

<body>
    <div>
        <%= @order_data = Order.new %>
        <% @orders['orders'].each do |element| %>
            <p>Order id: <%= @order_data.id = element['id'] %></p>
            <p>Total price: <%= element['total_price'] %></p>
            <p>Subtotal Price: <%= element['subtotal_price'] %></p>
            <p>Order Number: <%= element['order_number'] %></p>
            <p> Status: <%= @order_data.payment = element['financial_status']%></p>
            <% element['line_items'].each do |t| %>
                <p> Sku: <%= @order_data.products = t['sku']%></p>
                <p> Description: <%= @order_data.reference = t['title']%> </p>
            <% end %>
            <p>Deliver Customer Name: <%= element['shipping_address']['name'] %></p>
            <p>Customer Email: <%= @order_data.courier = element['email']%></p>
            <p>Delivering Addres: <%= "Addres1: #{element['shipping_address']['addres1']},
            City: #{element['shipping_address']['city']}, 
            Country #{element['shipping_address']['country']}
            Province: #{element['shipping_address']['province']},
            Addres2: #{element['shipping_address']['addres2']}
            ZIP: #{element['shipping_address']['zip']},
            Country Code: #{element['shipping_address']['country_code']},
            province Code: #{element['shipping_address']['province_code']}" %></p>
            <p><%= button_to "Make Shipment", newshipment_path, method: :get %></p>
        <% end %>
    </div>

</body>

<%= link_to 'Order', orders_path(@order) %>
</html>